html, body { background-color: #000; height: 100%; width: 100%; margin: 0; padding: 0; }
.hollywood { position: fixed; width: 100%; height: 100%; overflow: hidden; }
.hollywood img { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); transition: opacity 6s ease-in; opacity: 0;}
.hollywood .w100 { width: 100%; }
.hollywood .h100 { height: 100%; }
.hollywood-loading { background: url(images/loading.gif); width: 64px; height: 64px; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); opacity: 0.6; }
.hollywood-toolbar { position: fixed; top: 20px; right: 10px; }
.hollywood-toolbar span { display: block; width: 48px; height: 48px; margin-bottom: 10px; transition: opacity 0.5s; opacity: 0.2; }
.hollywood-toolbar span:hover { opacity: 0.8; cursor: pointer; }
.hollywood-icon-sound-true { background: url(images/sound-on.png); }
.hollywood-icon-sound-false { background: url(images/sound-off.png); }
.hollywood-icon-fullscreen-true { background: url(images/fullscreen-on.png); }
.hollywood-icon-fullscreen-false { background: url(images/fullscreen-off.png); }