$bgColor: #000;

@mixin fullSize() {
  height: 100%;
  width: 100%;
}

@mixin alignCenter() {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin bgImage($size, $image) {
  background: url('../icons/' + $image);
  width: $size;
  height: $size;
}

html, body {
  background-color: $bgColor;
  margin: 0;
  padding: 0;
  @include fullSize();
}

.hollywood {
  position: fixed;
  overflow: hidden;
  @include fullSize();

  img {
    position: absolute;
    transition: opacity 6s ease-in;
    opacity: 0;
    @include alignCenter();
  }

  .w100 {
    width: 100%;
  }

  .h100 {
    height: 100%;
  }

  .loading {
    position: fixed;
    opacity: 0.6;
    @include bgImage(64px, 'loading.gif');
    @include alignCenter();
  }

  .toolbar {
    position: fixed;
    top: 20px;
    right: 10px;

    span {
      display: block;
      width: 48px;
      height: 48px;
      margin-bottom: 10px;
      transition: opacity 0.5s;
      opacity: 0.2;
    }
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    .icon-sound-true {
      @include bgImage(48px, 'sound-on.png');
    }

    .icon-sound-false {
      @include bgImage(48px, 'sound-off.png');
    }

    .icon-fullscreen-true {
      @include bgImage(48px, 'fullscreen-on.png');
    }

    .icon-fullscreen-false {
      @include bgImage(48px, 'fullscreen-off.png');
    }
  }
}
